In [2]:
import pandas as pd
from rapidfuzz import process, fuzz
pd.set_option('display.max_columns', None)

In [3]:
df_eventos = pd.read_csv("data/df_eventos_liga2015.csv")

C:\Users\pepel\AppData\Local\Temp\ipykernel_87956\3719518088.py:1: DtypeWarning: Columns (0,1,3,11,12,19,34,37,39,40,41,42,43,44,45,46,47,49,50,51,52,53,55,56,57,58,59,60,71,73,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116) have mixed types. Specify dtype option on import or set low_memory=False.
  df_eventos = pd.read_csv("data/df_eventos_liga2015.csv")

In [4]:
df_jugadores_info = pd.read_csv("data/jugadores_info.csv")

In [5]:
df_jugadoresunicos_eventos = df_eventos["player"].unique().tolist()

In [6]:
df_jugadoresunicos_info = df_jugadores_info["playerFullName"].unique().tolist()

In [7]:
nombres_no_iguales_pre = []
nombres_iguales_pre = []
for x in df_jugadoresunicos_info:
    if x not in df_jugadoresunicos_eventos:
        nombres_no_iguales_pre.append(x)
    else:
        nombres_iguales_pre.append(x)

In [8]:
print(len(nombres_iguales_pre))
print(len(nombres_no_iguales_pre))

123
502

In [9]:
print(len(df_jugadoresunicos_info))
print(len(df_jugadoresunicos_eventos))

625
540

In [10]:

lista_1 = df_jugadoresunicos_info
lista_2 = df_jugadoresunicos_eventos

# Copia para gestionar descartes
lista_2_disponibles = lista_2.copy()
nombres_unificados = {}

# Primera pasada (umbral más alto)
for nombre1 in lista_1:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_sort_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 95:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None

# Segunda pasada (umbral medio)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.partial_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 90:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None

# Tercera pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 85:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None

# Cuarta pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 80:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None

# Quinta pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 75:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None


# Sexta pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 70:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None


# Octava pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 65:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None

# Novena pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 60:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None

# Decima pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 55:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None

# Undecima pasada (umbral más bajo)
for nombre1 in [k for k, v in nombres_unificados.items() if v is None]:
    if not lista_2_disponibles:
        nombres_unificados[nombre1] = None
        continue
    resultado = process.extractOne(nombre1, lista_2_disponibles, scorer=fuzz.token_set_ratio)
    if resultado:
        match, score, _ = resultado
        if score > 50:
            nombres_unificados[nombre1] = match
            lista_2_disponibles.remove(match)
        else:
            nombres_unificados[nombre1] = None
    else:
        nombres_unificados[nombre1] = None



# Resultado final
df_nombres = pd.DataFrame(list(nombres_unificados.items()), columns=["Nombre_original", "Nombre_unificado"])

In [11]:
df_nombres

           Nombre_original              Nombre_unificado
0           Jérémy Mathieu                Jérémy Mathieu
1           Andrés Iniesta          Andrés Iniesta Luján
2         Thomas Vermaelen              Thomas Vermaelen
3    Daniel Alves da Silva         Daniel Alves da Silva
4             Gerard Piqué         Gerard Piqué Bernabéu
..                     ...                           ...
620          Álvaro Traver                          None
621        Jefferson Lerma  Jefferson Andrés Lerma Solís
622        Víctor Camarasa      Víctor Camarasa Ferrando
623             Dani Calvo                          None
624  José Luis García Vayá                          None

[625 rows x 2 columns]

In [12]:
df_nombres[df_nombres["Nombre_unificado"].isnull()]

                     Nombre_original Nombre_unificado
14                       Jordi Masip             None
15   Pedro Eliezer Rodríguez Ledesma             None
23                       Juan Cámara             None
27                   Wilfrid Kaptoum             None
29                       Dani Romera             None
..                               ...              ...
593                     Miguel Muñoz             None
610                      Toño García             None
620                    Álvaro Traver             None
623                       Dani Calvo             None
624            José Luis García Vayá             None

[88 rows x 2 columns]

In [18]:
dict_nombres_info = df_nombres.set_index('Nombre_original')['Nombre_unificado'].to_dict()

In [22]:
df_jugadores_info["playerFullName"] = df_jugadores_info["playerFullName"].apply(
    lambda x: dict_nombres_info.get(x, x) if dict_nombres_info.get(x) is not None else x
)

In [27]:
df_jugadores_info.to_csv("data/jugadores_info_normalizado.csv", index=False)