In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [4]:
df_completo = pd.read_csv("data/jugadores_info_normalizado.csv")

In [21]:
df_clubs = df_completo[["club", "clubID"]].drop_duplicates().dropna().reset_index().drop(columns = ["index"])

In [22]:
df_clubs

                      club  clubID
0                Barcelona   217.0
1              Real Madrid   220.0
2          Atlético Madrid   212.0
3                   Getafe   216.0
4               Celta Vigo   209.0
5                 Espanyol   214.0
6               Real Betis   218.0
7                    Eibar   322.0
8               Villarreal   222.0
9               Levante UD   221.0
10           Athletic Club   215.0
11          Sporting Gijón  1041.0
12          Rayo Vallecano   360.0
13                 Sevilla   213.0
14                  Málaga   223.0
15           Real Sociedad   210.0
16              Las Palmas   208.0
17                Valencia   207.0
18  RC Deportivo La Coruña   219.0
19                 Granada  1049.0